.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  h3{
    text-align: left;
    font-size: 15px;
    color: rgb(13, 95, 122);
    margin-top: 10px;
    left: 18%;
    padding: 6px;
    font: bold;
  }
  h2{
    margin-top: 10px;
    color: rgb(13, 95, 122);
    text-align:center;
    font: bold;
    }
  p {
    text-align:left;
    font-size: 25px;
    margin-top: 40px;
    color: rgb(13, 95, 122);
    }
    .dataframe{
        padding: 50px;
        border: 50;
        width: 100%;

    }